@page "/productoverview"

@* @inject IProductRepositoryClientService clientProductService *@

@rendermode InteractiveWebAssembly

<h3>Product Overview</h3>

@if (Products == null)
{
    Console.WriteLine("Inside null.");
    <p class="text-black"><em>Loading...</em></p>
}
else
{
    <div class="row g-3">
        @foreach (var product in Products)
        {
            @* <ProductCard product="product"></ProductCard> *@
        }
    </div>
}
