@page "/productoverview/{ProductId}";

<h3>Product Details of @ProductSelected.ProductName</h3>
<h1>product name : @ProductSelected.ProductName</h1>
<h1>product supplier ID : @ProductSelected.SupplierId</h1>
<h1>product category : @ProductCategory.CategoryName</h1>